In [2]:
import pandas as pd
import numpy as np

In [3]:
from helper_functions import manage_outliers

## Rukungiri

In [4]:
ruk_bwanda = pd.read_excel("2022 Baselines..xlsx", sheet_name="Bwanda_Baseline", header=5)
ruk_other = pd.read_excel("2022 Baselines..xlsx", sheet_name="Ruk_Base_2022_cohort", header=5)

In [4]:
access_to_health_columns = [
    "Number_of_Household_Illnesses_in_last_30_days_", 
    "Number_of_Waterborne_Illness_in_the_last_30_days",
    "Distance_travelled_Outpatient_Treatment", 
    "Time_travel_round_trip_Outpatient_Treatment_minutes",
    "Livestock Income (Ugx)",
    "Livestock Income / Consumed (Ugx)",
    "Livestock Asset Value",
    "HH Income + Consumption + Assets + Residues / Day"
]

In [71]:
livestock_lists = [
    "pre_village",
    "Livestock_list_1",
    "Livestock_list_2",
    "Livestock_list_3",
    "Livestock_list_4",
    "Livestock_list_5",
    "Livestock_list_6",
    "Livestock_list_7",
    "Livestock_list_8",
    "Livestock_list_9",
    "Livestock_list_10",
    "Livestock_list_11",
    "Livestock_list_97",
    "Livestock_list_99",
    "Other_specified_Livestock_list",
    "livestock_own",
    "livestock_nbr",
    "Livestock Income (Ugx)",
    "Livestock Income / Consumed (Ugx)",
    "Livestock Asset Value",
    "Formal Employment (Ugx)", 
    "Personal Business & Self Employment (Ugx)", 
    "Casual Labour (Ugx)", 
    "Remittances & Gifts (Ugx)", 
    "Rent Income (Property & Land) Ugx",
    "Agriculture Value (UGX)",
    "Seasonal Agriculture Value (Ugx)",
    "Perennial Agriculture Value (Ugx)",
    "HH Income", 
    "HH Production UGX", 
    "HH Income + Production UGX", 
    "Program Value UGX",
    "HH Income + Consumption + Assets + Residues / Day"
]

In [61]:
# ruk_bwanda[["non_waterborne_30_days", "waterborne_illness_last_30_days"]]

In [23]:
def rename_columns(df, column_mappings):
    """
    rename columns passing in a mapping, of new and old namings. new column comes first
    """
    for new_col, old_col in column_mappings:
        df[new_col] = df[old_col]

In [6]:
# column_mappings = [
#     ("household_illness_30_days", "Number_of_Household_Illnesses_in_last_30_days_"),
#     ("household_Waterborne_Illness_30_days", "Number_of_Waterborne_Illness_in_the_last_30_days")
# ]

# rename_columns(ruk_bwanda, column_mappings)
# rename_columns(ruk_other, column_mappings)

In [37]:
rukungiri_rtv_base = pd.concat(
    [
        ruk_bwanda[access_to_health_columns], 
        ruk_other[access_to_health_columns]
    ],
    ignore_index=True
)

NameError: name 'access_to_health_columns' is not defined

In [ ]:
ruk_bwanda['livestock']

In [72]:
rukungiri_rtv_base = pd.concat(
    [
        ruk_bwanda.reindex(columns=livestock_lists, fill_value=np.nan),
        ruk_other.reindex(columns=livestock_lists, fill_value=np.nan)
    ],
    ignore_index=True
)

In [39]:
rukungiri_rtv_base.shape

(292, 32)

## Kyenjojo

In [8]:
kyenjojo_kitongole = pd.read_excel("2022 Baselines..xlsx", sheet_name="Kitongole base", header=2)
kyenjojo_other = pd.read_excel("2022 Baselines..xlsx", sheet_name="Kyenjojo base", header=2)

In [26]:
column_mappings = [
    ("Number_of_Waterborne_Illness_in_the_last_30_days", "Number_of_Diagnosed_Household_Waterborne_Illness_in_the_last_30_days"),
    ("Distance_travelled_Outpatient_Treatment", "Distance_travelled_to_reach_to_access_Outpatient_Treatment_for_Household_Member"),
    ("Time_travel_round_trip_Outpatient_Treatment_minutes", "Average_time_taken_to_travelround_tripto_access_Outpatient_Treatment_for_Household_Member_minutes"),
    ("HH Income + Consumption + Assets + Residues / Day", "HH Income + Consumption+ Assets + Residues / Day")
]

rename_columns(kyenjojo_kitongole, column_mappings)

In [11]:
kyenjojo_rtv_base = pd.concat(
    [
        kyenjojo_kitongole[access_to_health_columns], 
        kyenjojo_other[access_to_health_columns]
    ],
    ignore_index=True
)

In [73]:
kyenjojo_rtv_base = pd.concat(
    [
        kyenjojo_kitongole.reindex(columns=livestock_lists, fill_value=np.nan),
        kyenjojo_other.reindex(columns=livestock_lists, fill_value=np.nan)
    ],
    ignore_index=True
)

In [28]:
kyenjojo_rtv_base.shape

(446, 31)

## Kanungu

In [11]:
kanungu_kihembe = pd.read_excel("2022 Baselines..xlsx", sheet_name="Kihembe Cluster Baseline", header=2)
kanungu_other = pd.read_excel("2022 Baselines..xlsx", sheet_name="kanungu Clusters Baseline", header=1)

In [15]:
# column_mappings = [
#     ("Number_of_Household_Illnesses_in_last_30_days_", "Number_of_Household_Illnesses_in_last_30_days"),
#     ("Distance_travelled_Outpatient_Treatment", "Distance_travelled_one_way_OPD_treatment"),
#     ("Time_travel_round_trip_Outpatient_Treatment_minutes", "Time_travel_one_way_trip_OPD_treatment_minutes"),
# ]

# rename_columns(kanungu_kihembe, column_mappings)

In [16]:
# kanungu_kihembe[access_to_health_columns]

In [30]:
kanungu_rtv_base = kanungu_other[access_to_health_columns]

In [74]:
kanungu_rtv_base = pd.concat(
    [
        kanungu_kihembe.reindex(columns=livestock_lists, fill_value=np.nan),
        kanungu_other.reindex(columns=livestock_lists, fill_value=np.nan)
    ],
    ignore_index=True
)

## Kagadi_standard

In [13]:
kagadi_ndeeba = pd.read_excel("2022 Baselines..xlsx", sheet_name="Ndeeba Baseline", header=3)
kagadi_nyakasozi = pd.read_excel("2022 Baselines..xlsx", sheet_name="Nyakasozi baseline", header=2)

In [20]:
kagadi_ndeeba["Number_of_Household_Illnesses_in_last_30_days_"] = kagadi_ndeeba[
                                                                    ["non_waterborne_30_days", "waterborne_illness_last_30_days"]
                                                                    ].sum(axis=1)

In [21]:
column_mappings = [
    ("Number_of_Waterborne_Illness_in_the_last_30_days", "waterborne_illness_last_30_days"),
    ("Distance_travelled_Outpatient_Treatment", "Distance_travelled_one_way_OPD_treatment"),
    ("Time_travel_round_trip_Outpatient_Treatment_minutes", "Time_travel_one_way_trip_OPD_treatment_minutes"),
]

rename_columns(kagadi_ndeeba, column_mappings)

In [42]:
kagadi_standar_rtv_base = pd.concat(
    [
        kagadi_ndeeba[access_to_health_columns], 
        kagadi_nyakasozi[access_to_health_columns]
    ],
    ignore_index=True
)

NameError: name 'access_to_health_columns' is not defined

In [75]:
kagadi_standar_rtv_base = pd.concat(
    [
        kagadi_ndeeba.reindex(columns=livestock_lists, fill_value=np.nan),
        kagadi_nyakasozi.reindex(columns=livestock_lists, fill_value=np.nan)
    ],
    ignore_index=True
)

In [32]:
kagadi_standar_rtv_base.shape

(391, 31)

## Outlier Management and merging

In [76]:
dataframes_list = [rukungiri_rtv_base, kyenjojo_rtv_base, kanungu_rtv_base, kagadi_standar_rtv_base]  

processed_dfs = [manage_outliers(df) for df in dataframes_list]

In [77]:
# Combine all processed DataFrames
final_rtv_base_livestock = pd.concat(processed_dfs, ignore_index=True)

In [72]:
final_rtv_base_livestock.to_excel("final_rtv_base_livestock.xlsx", index=False)

In [73]:
final_rtv_base_livestock.head()

,Livestock_list_1,Livestock_list_2,Livestock_list_3,Livestock_list_4,Livestock_list_5,Livestock_list_6,Livestock_list_7,Livestock_list_8,Livestock_list_9,Livestock_list_10,...,Livestock_list_99,Other_specified_Livestock_list,livestock_own,livestock_nbr,Livestock Income (Ugx),Livestock Income / Consumed (Ugx),Livestock Asset Value,HH Income + Consumption + Assets + Residues / Day,index,outlier
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.029619,4,1
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.044428,5,1
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.044428,6,1
3,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,NaN,NaN,1.0,3.0,0.0,-100.0,-2600.0,0.087227,7,1
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,NaN,NaN,1.0,1.0,0.0,0.0,29000.0,0.108478,8,1

## Okay Datasets

In [88]:
mitooma = pd.read_excel("2022 Baselines..xlsx", sheet_name="mitooma", header=5)
rubirizi = pd.read_excel("2022 Baselines..xlsx", sheet_name="rubirizi", header=5)
rubanda = pd.read_excel("2022 Baselines..xlsx", sheet_name="Rubanda", header=5)
kaliro = pd.read_excel("2022 Baselines..xlsx", sheet_name="kaliro treat", header=5)
kagadi_gac = pd.read_excel("2022 Baselines..xlsx", sheet_name="kagadi_GAC", header=5)

In [41]:
mitooma[access_to_health_columns]

,Number_of_Household_Illnesses_in_last_30_days_,Number_of_Waterborne_Illness_in_the_last_30_days,Distance_travelled_Outpatient_Treatment,Time_travel_round_trip_Outpatient_Treatment_minutes,HH Income + Consumption + Assets + Residues / Day
0,1,0,16.0,300,0.165864
1,1,0,2.0,60,0.165864
2,0,0,1.5,120,0.189559
3,0,0,4.0,480,0.203628
4,0,0,4.0,240,0.207331
...,...,...,...,...,...
653,0,0,4.0,300,7.660274
654,1,0,2.0,15,7.707886
655,1,0,4.0,360,8.042207
656,2,0,3.0,420,8.099519
657,2,1,2.0,180,9.393558

In [89]:
mitooma = mitooma.reindex(columns=livestock_lists, fill_value=np.nan)

In [47]:
# rubirizi[""]

In [21]:
# column_mappings = [
#     ("Number_of_Waterborne_Illness_in_the_last_30_days", "waterborne_illness_last_30_days"),
#     ("Distance_travelled_Outpatient_Treatment", "Distance_travelled_one_way_OPD_treatment"),
#     ("Time_travel_round_trip_Outpatient_Treatment_minutes", "Time_travel_one_way_trip_OPD_treatment_minutes"),
# ]

# rename_columns(kagadi_ndeeba, column_mappings)

In [46]:
# rubirizi[access_to_health_columns]

In [48]:
rubanda[access_to_health_columns]

,Number_of_Household_Illnesses_in_last_30_days_,Number_of_Waterborne_Illness_in_the_last_30_days,Distance_travelled_Outpatient_Treatment,Time_travel_round_trip_Outpatient_Treatment_minutes,HH Income + Consumption + Assets + Residues / Day
0,1,0,2.0,120,0.055535
1,0,0,5.0,500,0.062940
2,1,0,3.5,360,0.077749
3,0,0,1.0,60,0.079970
4,0,0,3.5,360,0.088856
...,...,...,...,...,...
1299,0,0,1.0,30,12.276934
1300,0,0,1.0,50,12.569419
1301,1,1,3.0,110,13.175861
1302,0,0,2.0,60,14.704924
1303,0,0,2.0,90,15.148093

In [97]:
rubanda = rubanda.reindex(columns=livestock_lists, fill_value=np.nan)

In [102]:
kaliro

,SubmissionDate,starttime,endtime,version,duration,survey_start,intro_start,district,Surveyor_Name,Surveyor_Name2,...,Livestock Asset Value (USD_PPP),HH Income (USD_PPP),Consumption + Residues (USD_PPP),HH Income + Consumption + Residues (USD_PPP),HH Income + Consumption+ Assets + Residues (USD_PPP),Assets (USD_PPP),HH Income/Day (USD_PPP),Consumption/Day (USD_PPP),HH Income + Consumption + Residues/Day (USD_PPP),HH Income + Consumption + Assets + Residues / Day (USD_PPP)
0,2021-10-19 10:25:58,2021-10-19 07:44:30,2021-10-19 10:24:52,2110180717,6094,6.0,6.0,6,134,Gorret Lujja,...,0.000000,59.357410,27.700125,87.057535,87.057535,0.000000,0.162623,0.075891,0.238514,0.238514
1,2021-10-19 14:34:23,2021-10-19 09:14:45,2021-10-19 09:40:49,2110180717,1562,5.0,5.0,6,121,Emmanuel Mutini,...,0.000000,59.357410,38.252553,97.609963,97.609963,0.000000,0.162623,0.104802,0.267425,0.267425
2,2021-10-20 12:39:13,2021-10-20 11:37:05,2021-10-20 12:38:50,2110180717,3031,6.0,6.0,6,129,Isaac Baako,...,0.000000,72.547946,26.381071,98.929017,98.929017,0.000000,0.198761,0.072277,0.271038,0.271038
3,2021-10-19 15:36:04,2021-10-19 07:32:58,2021-10-19 10:38:39,2110180717,4482,4.0,4.0,6,113,Patrick Muganda,...,0.000000,79.143213,25.062018,104.205231,104.205231,0.000000,0.216831,0.068663,0.285494,0.285494
4,2021-10-20 17:14:23,2021-10-20 12:10:56,2021-10-20 12:32:20,2110180717,1283,9.0,9.0,6,116,Alex Kabibi,...,0.000000,98.929017,6.595268,105.524284,105.524284,0.000000,0.271038,0.018069,0.289108,0.289108
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1003,"Nov 18, 2021 2:07:31 PM","Nov 18, 2021 10:40:10 AM","Nov 18, 2021 12:04:54 PM",2111102049,4819,40.0,40.0,6,134,Gorret Lujja,...,5296.000025,2225.243348,491.017686,2716.261034,8012.261059,5296.000025,6.096557,1.345254,7.441811,21.951400
1004,2021-10-23 16:30:13,2021-10-16 14:33:36,2021-10-16 19:21:28,2110131929,8711,3.0,3.0,6,115,Joel Derrick Isabirye,...,1790.615202,5336.890685,1015.671238,6352.561923,8143.177125,1790.615202,14.621618,2.782661,17.404279,22.310074
1005,"Nov 16, 2021 4:21:34 PM","Nov 15, 2021 2:43:54 PM","Nov 15, 2021 4:17:20 PM",2111102049,5556,5.0,5.0,6,130,Claire Mwogeza,...,2835.965144,5495.704733,743.418584,6239.123317,9075.088462,2835.965144,15.056725,2.036763,17.093489,24.863256
1006,"Nov 15, 2021 4:37:29 PM","Nov 15, 2021 3:24:32 PM","Nov 15, 2021 4:36:32 PM",2111102049,4286,3.0,3.0,6,129,Isaac Baako,...,7617.534283,1094.814451,431.990039,1526.804490,9144.338773,7617.534283,2.999492,1.183534,4.183026,25.052983
1007,2021-10-18 21:23:42,2021-10-18 16:15:04,2021-10-18 17:35:06,2110180717,4605,32.0,32.0,6,115,Joel Derrick Isabirye,...,8128.667536,1072.390541,929.932757,2002.323297,10130.990833,8128.667536,2.938056,2.547761,5.485817,27.756139

In [51]:
# kaliro[access_to_health_columns]

In [45]:
kagadi_gac[access_to_health_columns]

,Number_of_Household_Illnesses_in_last_30_days_,Number_of_Waterborne_Illness_in_the_last_30_days,Distance_travelled_Outpatient_Treatment,Time_travel_round_trip_Outpatient_Treatment_minutes,HH Income + Consumption + Assets + Residues / Day
0,2,0,5.0,120,0.090123
1,0,0,4.0,80,0.216294
2,2,1,3.0,65,0.216294
3,0,0,3.0,360,0.216294
4,2,2,4.0,180,0.223504
...,...,...,...,...,...
226,1,1,7.0,400,3.832012
227,3,2,4.0,300,3.878875
228,2,2,2.0,360,4.428623
229,2,0,3.0,360,4.782985
230,3,1,2.0,160,5.782264

In [91]:
kagadi_gac = kagadi_gac.reindex(columns=livestock_lists, fill_value=np.nan)

In [98]:
mitooma = manage_outliers(mitooma)
rubanda = manage_outliers(rubanda)
kagadi_gac = manage_outliers(kagadi_gac)

In [99]:
rtv_base_merged_livestock = pd.concat([
                    final_rtv_base_livestock,
                    mitooma[livestock_lists],
                    rubanda[livestock_lists],
                    kagadi_gac[livestock_lists]
                ])

In [100]:
rtv_base_merged_livestock["STATUS"] ="RTV"

In [70]:
rtv_base_merged_livestock.to_excel("rtv_base_merged_livestock.xlsx", index=False)

In [101]:
rtv_base_merged_livestock['pre_village'].value_counts(dropna=False)

pre_village
Rukarara             31
Kihembe_Central      30
Kengoma_Kihembe      30
Nyabirehe_Kihembe    30
Kibuga_A             29
                     ..
Namugongo C           7
Bigandu               6
Mutaaba               6
Mushunga_Bwanda       6
NaN                   5
Name: count, Length: 302, dtype: int64